.side-menu{
  width: 20%;
  background-color: #222;
  color: white;
  font-family: Avenir, Arial, sans-serif;
  padding: 45px 25px;
}

input[type=search] {
  height: 4vh;
  width: 15vw;
  border-radius: 15px;
  border: none;
  -webkit-appearance: none;
  padding: 5px 10px;
  font-size: 1em;

}

.search-icon {
        position: relative;
        color: white;
        padding: 7px;
    }
